.text {
    text-align: center;
    color:white;
    font-family: Verdana, Helvetica, sans-serif;
    padding-top: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-style: groove;
    background-color: gray;
  }
  body {
    background-color:black;
  }